
/* Page Styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #dcd6d6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


/*Header*/

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/*Nav Bar*/

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Main Section */

div.hero img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
}

/*Services*/

section.services {
	width: 75%;
	display: inline-block;
	margin-left: 20px;
}    

section.services article.services {
	margin-bottom: 20px;
	padding: 50px;
	height: 300px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #2a607c;
	color: #ffffff;
}

section.services article.services img {
	max-height: 200px;
}

section.services article.services img.float-left {
	float: left;
	margin-right: 25px;
}

section.services article.services img.float-right {
	float: right;
	margin-left: 25px;
}

section.services article.services h2 {
	margin-bottom: 20px;
	font-size: 36px;}

/*Benefits*/

aside.benefits {
    margin-right: -300px;
    margin-top: -950px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside.benefits article.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

aside.benefits article.benefit h3 {
    font-size: small;
    margin-bottom: 10px;
    text-align: center;
}

aside.benefits article.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 100px;
}

/*Footer*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
